= simple_form_for [(@comment.commentable || commentable), @comment], html: { id: nil }, remote: ((defined? remote) ? remote : false) do |f|
  = f.error_notification
  = f.input :body, input_html: { rows: 10 }, label: false
  = f.button :submit, class: "btn btn-primary"
