= simple_form_for [commentable, comment], html: { id: nil }, remote: true do |f|
  = f.input :body, input_html: { rows: 10 }, label: false
  = f.button :submit, "Post comment", class: "btn btn-primary"
