article.answer id="answer_#{answer.id}"
  .row
    .col-md-2
      .col-md-4
        .text-primary.text-center.question-votes
          strong title="Questions votes"
            = answer.question.votes_sum
      .col-md-4
        .text-success.text-center.question-answers
          strong title="Questions answers"
            = answer.question.answers.count
      .col-md-4
        .text-info.text-center.question-views
          strong title="Question views"
            = answer.question.impressions.count
    .col-md-10
      = link_to answer.question.title, answer.question
  .row
    .col-md-12
      p.answer-body
        = answer.body
  .row
    .col-md-12
      .answer-author.text-right
        small
          | by 
          = link_to answer.user.username, user_path(answer.user.username)
          |  #{time_ago_in_words(answer.created_at)} ago  
      /= link_to question.title, question
  /.col-md-3.row.stats
    /.col-md-4
      /.text-primary.text-center.question-votes
        /strong #{question.votes_sum}
        /br
        /span votes
    /.col-md-4
      /.text-success.text-center.question-answers
        /strong #{question.answers.count}
        /br
        /span answers
    /.col-md-4
      /.text-info.text-center.question-views
        /strong #{question.impressions.count}
        /br
        /span views
  /.col-md-9
    /h3.question-title
      /= link_to question.title, question
    /p.qestion-body
      /= question.body
    /.question-tags.pull-left
      /- question.tags.each do |tag|
        /= link_to tag.name, "/questions/tagged/#{tag.name}", class: "label label-default"
    /.question-author.pull-right
      /small
        /| by 
        /= link_to question.user.username, user_path(question.user.username)
        /|  #{time_ago_in_words(question.created_at)} ago
