<form accept-charset="UTF-8" action="/questions/{{id}}" class="simple_form edit_question edit-form" enctype="multipart/form-data" id="edit_question" method="post" novalidate="novalidate" data-remote="true" data-type="json">
  <div style="display:none"><input name="utf8" type="hidden" value="✓"><input name="_method" type="hidden" value="patch"></div>
  <div class="form-group string required question_title"><label class="string required control-label" for="question_title">Title</label><input class="string required form-control" id="question_title" name="question[title]" type="text" value="{{title}}"></div>
  <div class="form-group text required question_body"><label class="text required control-label" for="question_body">Body</label><textarea class="text required form-control" id="question_body" name="question[body]" rows="10">{{body}}</textarea></div>
  <div class="form-group string required question_tag_list">
    <label class="string required control-label" for="question_tag_list">Tags</label>
    <input class="string required form-control" id="question_tag_list" name="question[tag_list]" type="text" value="{{tag_list}}" data-role="tagsinput">
  </div>
  <div class="form-group file optional question_attachments_file">
    <label class="file optional control-label" for="question_attachments_attributes_0_file">File</label>
    <input class="file optional" id="question_attachments_attributes_0_file" name="question[attachments_attributes][0][file]" type="file">
  </div>
  <input class="btn btn-default btn btn-success" name="commit" type="submit" value="Update Question">
  <a href="" class="cancel-editing">Cancel</a>
</form>
