<a class="remove-from-favorites" data-method="post" data-remote="true" data-type="json" href="/questions/{{id}}/remove_favorite" rel="nofollow">
  <span class="glyphicon glyphicon-star favorite-question" title="You have already added this question to favorites!"></span>
</a>
