<a class="add-to-favorites" data-method="post" data-remote="true" data-type="json" href="/questions/{{id}}/add_favorite" rel="nofollow">
  <span class="glyphicon glyphicon-star-empty" title="Add this question to your favorites!"></span>
</a>
