// Place all the styles related to the answers controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/
.answers
  margin: 60px 0

.answer
  margin-bottom: 40px !important
  
.answer-management
  margin: 0
  padding: 0
  list-style: none
  overflow: hidden

.comment-answer-form
  display: none

.answer-management li
  float: left

.answer-management li + li
  margin-left: 10px

.mark-best-answer,
.delete-answer,
.edit-answer
  color: #d6e9c6
  font-size: 16px
  font-weight: normal
  display: inline-block

.delete-answer
  color: #ebccd1

.mark-best-answer:hover,
.edit-answer:hover
  color: #3c763d

.delete-answer:hover
  color: #a94442

.mark-best-answer
  font-size: 20px

.best-answer
  position: relative
  border: 1px solid #5cb85c!important

.best-answer:after
  content: "\2713"
  //content: "\2605"
  position: absolute
  top: -22px
  right: -10px
  color: #5cb85c
  font-size: 40px
  line-height: 1
  -webkit-transform: rotate(20deg)
  transform: rotate(20deg)
