// Place all the styles related to the answers controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/
.answer
  position: relative

.edit-answer
  display: inline-block
  padding: 3px
  background: #fff
  position: absolute
  right: 0
  top: 0
