// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/

// INDEX
article.question
  padding-top: 20px
  margin-bottom: 20px
  overflow: hidden
  
article.question + article.question
  border-top: 1px solid #ddd

article.question .question-title 
  margin: 0 0 10px

article.question .stats .col-md-4
  padding-left: 0
  padding-right: 0

// SHOW
.page-header h1
  margin-top: 0

.ask-question
  display: block

textarea
  resize: none

.question-body
  margin: 0 0 20px

.delete-question,
.edit-question
  color: #d6e9c6
  font-size: 16px
  font-weight: normal
  display: inline-block

.delete-question
  color: #ebccd1

.edit-question:hover
  color: #3c763d

.delete-question:hover
  color: #a94442

.comment-form
  display: none

.question-management
  margin: 0
  padding: 0
  list-style: none
  overflow: hidden

.question-management li
  float: left

.question-management li + li
  margin-left: 10px

#footer
  margin: 50px 0 0
  color: #999

.question-title
  margin-bottom: 0

.question-tags .label
  display: inline-block
  margin-right: 4px
  font-weight: normal
  font-size: 90%
