// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/
.edit-question
  font-size: 16px
  font-weight: normal
  display: inline-block
  margin: 0 0 0 20px
