// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/
textarea
  resize: none

.question .panel-body
  position: relative

.delete-question,
.edit-question
  color: #d6e9c6
  font-size: 16px
  font-weight: normal
  display: inline-block
  margin: 0 0 0 20px

.delete-question
  color: #ebccd1

.edit-question:hover
  color: #3c763d

.delete-question:hover
  color: #a94442

#new_comment
  display: none

.comment-question
  position: absolute
  right: 20px
  bottom: 5px
