// Place all the styles related to the tags controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/

// TAGS PAGE
.tags
  padding-top: 20px

//.tags .tag
  //display: block
  //float: left
  //margin: 0 10px 10px 0
  //font-weight: normal
  //font-size: 1.2em
  
.tags .tag
  width: 25%
  float: left
  margin: 0 0 10px 0

.tags .tag a
  font-size: 1.2em

.tags .tag a:hover
  text-decoration: none
