// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/
.pane
  display: none
  
.user-profile-tabs
  text-align: right
  letter-spacing: -0.3em

.user-profile-tabs li
  display: inline-block
  text-align: center
  letter-spacing: 0
  float: none
