// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/
.pane
  display: none
  
.user-profile-tabs
  text-align: right
  letter-spacing: -0.3em

.user-profile-tabs li
  display: inline-block
  text-align: center
  letter-spacing: 0
  float: none

.user-info form.change-avatar-form
  display: none

.user-all-questions .created-questions,
.user-all-answers .created-answers,
.user-all-comments .created-comments,
.user-summary .created-questions,
.user-summary .created-answers,
.user-summary .created-comments
  list-style: none
  margin: 0
  padding: 0

.user-all-questions .votes,
.user-all-answers .votes,
.user-all-comments .votes
  width: 2em

.user-summary .votes
  width: 2em
  display: inline-block
